html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	background-color: #ffffff;
	font-family: sans-serif;
}

.kanban {
	display: flex;
	min-height: 100vh;
	width: 100%;
	background-color: #ffffff;
	padding: 20px;
	gap: 20px;
}

.kanban * {
	font-family: sans-serif;
}

.kanban__column {
	flex: 1;
}

.kanban__column:not(:last-child) {
	margin-right: 25px;
}

.kanban__column-title {
	margin-bottom: 10px;
	font-size: 1.3rem;
	font-weight: bold;
	user-select: none;
	font-family: 'Righteous', cursive;
	text-decoration: underline;
	text-align: center;
	color: rgb(255, 255, 255);
}

.kanban__item-input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

.kanban__dropzone {
	height: 10px;
	transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
	height: 20px;
	background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.kanban {
		flex-direction: column;
		padding: 10px;
	}
	
	.kanban__column {
		margin-bottom: 20px;
	}
	
	.kanban__column-title {
		font-size: 1.2rem;
	}
}
